:root {
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
}

html,
body {
    background-image: url(../c03/images/bg-desktop.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

p {
    color: white;
    margin: 2em 0;
}

img {
    height: 100%;
    width: 100%;
}

ion-icon {
    font-size: 2em;
    color: white;
    text-decoration: none;
    padding: .3em;
    transition: .2s ease-in-out;
}

ion-icon:hover {
    color: var(--SoftMagenta);
    scale: 1.5;
}

a {
    text-decoration: black;
}


.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 2em
}

.nav {
    height: 4em;
    padding: 4em 0;
    width: fit-content;
}

.splash {
    display: flex;
}

.image {
    flex: 1 1 55%;
    
    width: 100%;
}

.text {
    flex: 1 1 45%;
    padding: 2em;
}

.register {
    padding: .75em 3em;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0em .25em .5em rgba(0, 0, 0, .25);
    width: fit-content;
    margin: 1em 0;
    color: var(--Violet);
    transition: color .2s, background-color .2s;
    transition-timing-function: ease-in-out;
}

.register:hover {
    background-color: var(--SoftMagenta);
    color: white;
}

.social {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .splash {
        flex-direction: column;
    }
    .text {
        text-align: center;
    }
    .register {
        justify-self: center;
        margin: auto;
    }
    .social {
        justify-content: center;
    }
}